*{
    font-family: sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(to right,rgb(236, 91, 236),rgb(110, 14, 235));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    width: 400px;
    height: 400px;
    /* background: linear-gradient(to right,rgb(219, 192, 255),rgb(255, 203, 255)); */
    background-color: rgba(255,255,255, .7);
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
}

.clock .number{
    padding: 10px;
    font-size: xx-large;
    text-shadow: 0 0 2px white;
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));  
}

.clock .number1{ --rotation: 30deg; }
.clock .number2{ --rotation: 60deg; }
.clock .number3{ --rotation: 90deg; }
.clock .number4{ --rotation: 120deg; }
.clock .number5{ --rotation: 150deg; }
.clock .number6{ --rotation: 180deg; }
.clock .number7{ --rotation: 210deg; }
.clock .number8{ --rotation: 240deg; }
.clock .number9{ --rotation: 270deg; }
.clock .number10{ --rotation: 300deg; }
.clock .number11{ --rotation: 330deg; }

#no1{ transform: rotate(-30deg); }
#no2{ transform: rotate(-60deg); }
#no3{ transform: rotate(-90deg); }
#no4{ transform: rotate(-120deg); }
#no5{ transform: rotate(-150deg); }
#no6{ transform: rotate(-180deg); }
#no7{ transform: rotate(-210deg); }
#no8{ transform: rotate(-240deg); }
#no9{ transform: rotate(-270deg); }
#no10{ transform: rotate(-300deg); }
#no11{ transform: rotate(-330deg); }

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translate(-50%) rotate(calc(var(--rotation)*1deg));
}

.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    /* border: 1px solid white; */
    z-index: 11;
    width: 5%;
    height: 5%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.clock .hand.second{
    width: 1.1%;
    height: 45%;
    background-color: red;
}

.clock .hand.minute{
    width: 2%;
    height: 40%;
    background-color: black;
}

.clock .hand.hour{
    width: 3%;
    height: 35%;
    background-color: black;
}

